/* app/admin-dashboard/create-user/create-user.module.css */

.mainContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}
@media (min-width: 1024px) {
  .mainContainer { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}

.formSection {
  grid-column: span 1 / span 1;
  background-color: rgb(15 23 42);
  border: 1px solid rgb(30 41 59);
  padding: 1.5rem;
  border-radius: 1.5rem;
  height: fit-content;
}

.listSection {
  grid-column: span 2 / span 2;
  background-color: rgb(15 23 42);
  border: 1px solid rgb(30 41 59);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.inputField {
  width: 100%;
  background-color: rgb(2 6 23);
  border: 1px solid rgb(30 41 59);
  border-radius: 0.75rem;
  padding: 0.75rem;
  color: white;
}

.submitBtn {
  width: 100%;
  background: linear-gradient(to right, #7c3aed, #4f46e5);
  color: white;
  font-weight: 900;
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
}

.userCard {
  background-color: rgb(2 6 23);
  border: 1px solid rgba(30, 41, 59, 0.6);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
